src/main/resources/xsd/istar-rl-schema_v4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="https://example.org/istar-dt-x"
        targetNamespace="https://example.org/istar-dt-x"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">

    <!-- Root element -->
    <xsd:element name="istardt" type="IstardtType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Root element representing a model in iStar-DT-X.
            ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:complexType name="IstardtType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Complex type defining iStar-DT-X model.
                Contains:
                - header
                - options
                - actors
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="header" type="ModelHeaderType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="options" type="OptionsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="actors" type="ActorsType" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>

    <!-- ===== Header ===== -->
    <xsd:complexType name="ModelHeaderType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Complex type defining a model header.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="title" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="author" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="source" type="xsd:string" use="required"></xsd:attribute>
        <xsd:attribute name="lastUpdated" type="xsd:string" use="required"></xsd:attribute>
    </xsd:complexType>

    <!-- ===== Options ===== -->
    <xsd:complexType name="OptionsType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Complex type defining options.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="continuous" type="xsd:boolean" use="required"></xsd:attribute>
        <xsd:attribute name="infeasible-action-penalty" type="xsd:float" use="required"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ActorsType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Complex type defining actors.
                Contains:
                - actor
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="actor" type="ActorType" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ActorType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Complex type defining an actor's structure in the model.
                Contains:
                - Predicates
                - CondBoxes
                - Qualities
                - Goals
                - Tasks
                - CrossSet
                - ExportedSet
                - Initializations
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="goals" type="GoalsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tasks" type="TasksType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="qualities" type="QualitiesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="predicates" type="PredicatesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="condBoxes" type="CondBoxesType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="crossSet" type="CrossSetType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="exportedSet" type="ExportedSetType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="initializations" type="InitializationsType" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Attribute: name
                    Unique identifier for the actor.
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Attribute: description
                    Optional description providing details about the actor.
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- ===== ExportedSet ===== -->
    <xsd:complexType name="ExportedSetType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Container for exports.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="export" type="ExportType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[Defines a single export.]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Export ===== -->
    <xsd:complexType name="ExportType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Complex type defining an export.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="continuous" type="xsd:boolean" use="required"></xsd:attribute>
        <xsd:attribute name="minVal" type="xsd:float" use="optional"></xsd:attribute>
        <xsd:attribute name="maxVal" type="xsd:float" use="optional"></xsd:attribute>
    </xsd:complexType>

    <!-- ===== CrossSet ===== -->
    <xsd:complexType name="CrossSetType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Container for cross-runs.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="crossRun" type="CrossRunType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[Defines a single cross-run.]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== CrossRun ===== -->
    <xsd:complexType name="CrossRunType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Complex type defining an cross-run.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="predicateId" type="xsd:string"/>
            <xsd:element name="variableId" type="xsd:string"/>
            <xsd:element name="qualId" type="xsd:string"/>
        </xsd:choice>
    </xsd:complexType>

    <!-- ===== Initializations ===== -->
    <xsd:complexType name="InitializationsType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Container for initializations.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="initialization" type="InitializationType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[Defines a single initialization.]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Initialization ===== -->
    <xsd:complexType name="InitializationType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[Complex type defining an initialization.]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="element" type="xsd:string" use="required"></xsd:attribute>
<!--TODO content pick between boolean or decimal -->
    </xsd:complexType>

    <!-- ===== Predicates ===== -->
    <xsd:complexType name="PredicatesType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for predicates.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="predicate" type="PredicateType"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single predicate.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="PredicateType" mixed="true">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Attributes:
                - primitive
                - init
                - exported
                - description
                The content of the predicate element contains the identifier.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="primitive" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="init" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="exported" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <!-- ===== CondBoxes ===== -->
    <xsd:complexType name="CondBoxesType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for precondition boxes.
                Each preBox defines a named boolean expression.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="condBox" type="CondBoxType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single precondition box.
                        Attributes:
                        - name
                        - description
                        Contains the boolean expression representing the precondition.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="BooleanExpressionElements">
        <xsd:choice>
            <xsd:element name="boolConst" type="BoolConstType"/>
            <xsd:element name="boolAtom" type="xsd:string"/>
            <xsd:element name="previous" type="PreviousType"/>

            <xsd:element name="gt" type="NumericComparisonType"/>
            <xsd:element name="gte" type="NumericComparisonType"/>

            <xsd:element name="lt" type="NumericComparisonType"/>
            <xsd:element name="lte" type="NumericComparisonType"/>

            <xsd:element name="eq" type="NumericComparisonType"/>
            <xsd:element name="neq" type="NumericComparisonType"/>

            <xsd:element name="and" type="BooleanAndType"/>
            <xsd:element name="or" type="BooleanOrType"/>
            <xsd:element name="not" type="BooleanNotType"/>
        </xsd:choice>
    </xsd:group>

    <!-- ===== BooleanExpressionType ===== -->
    <xsd:complexType name="BooleanExpressionType">
        <xsd:annotation>
            <xsd:documentation>
                A boolean expression is defined recursively as follows:

                • A boolean constant: boolConst (true or false)
                • A boolean identifier: atom (goal, task, or predicate identifier)
                • A previous call: previous wrapping an atom
                • A numeric comparison: one of gt, gte, lt, lte, eq, or neq (each with left/right numeric expressions)
                • Or a combination of boolean expressions using:
                and (conjunction), or (disjunction), and not (negation).
            </xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="BooleanExpressionElements"/>
    </xsd:complexType>

    <!-- Boolean constant: must be "true" or "false" -->
    <xsd:simpleType name="BoolConstType">
        <xsd:annotation>
            <xsd:documentation>
                Boolean constants; allowed values are "true" and "false".
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="true"/>
            <xsd:enumeration value="false"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- The "previous" function: wraps an atom -->
    <xsd:complexType name="PreviousType">
        <xsd:annotation>
            <xsd:documentation>
                Represents a previous value reference. For example,
                previous(predicate_identifier) is modeled as:
                &lt;previous&gt;&lt;atom&gt;predicate_identifier&lt;/atom&gt;&lt;/previous&gt;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="boolAtom" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Numeric Expression Type Structure ===== -->
    <!-- Define a group for numeric expression elements -->
    <xsd:group name="NumericExpressionElements">
        <xsd:choice>
            <xsd:element name="const" type="xsd:decimal"/>
            <xsd:element name="numAtom" type="xsd:string"/>
            <xsd:element name="previous" type="NumericPreviousType"/>
            <xsd:element name="add" type="NumericNaryOpType"/>
            <xsd:element name="subtract" type="NumericBinaryOpType"/>
            <xsd:element name="multiply" type="NumericNaryOpType"/>
            <xsd:element name="divide" type="NumericBinaryOpType"/>
            <xsd:element name="negate" type="NumericUnaryOpType"/>
        </xsd:choice>
    </xsd:group>

    <!-- Numeric expression type that uses the group -->
    <xsd:complexType name="NumericExpressionType">
        <xsd:annotation>
            <xsd:documentation>
                A numeric expression is defined recursively as follows:
                • A numeric constant: const (e.g., 5, 10.5)
                • A numeric identifier: atom (references a quality)
                • A previous call: previous wrapping an atom
                • Arithmetic operations: add, subtract, multiply, divide
                • Unary negation: negate (for negative values)
            </xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="NumericExpressionElements"/>
    </xsd:complexType>

    <!-- Numeric Previous Type for quality references -->
    <xsd:complexType name="NumericPreviousType">
        <xsd:annotation>
            <xsd:documentation>
                Represents a previous value reference for a numeric value. For example,
                previous(quality_identifier) is modeled as:
                &lt;previous&gt;&lt;atom&gt;quality_identifier&lt;/atom&gt;&lt;/previous&gt;
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="numAtom" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Numeric Binary Operations (subtract, divide) -->
    <xsd:complexType name="NumericBinaryOpType">
        <xsd:annotation>
            <xsd:documentation>
                Represents a binary arithmetic operation (subtract, divide)
                with exactly two operands (left and right) that are themselves numeric expressions.
                The order of operands matters for these non-commutative operations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="left" type="NumericExpressionType"/>
            <xsd:element name="right" type="NumericExpressionType"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Numeric N-ary Operations (add, multiply) -->
    <xsd:complexType name="NumericNaryOpType">
        <xsd:annotation>
            <xsd:documentation>
                Represents an n-ary arithmetic operation (add, multiply)
                with two or more operands that are themselves numeric expressions.
                These operations are commutative and associative, allowing any number of operands.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="NumericExpressionElements" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Numeric Unary Operation -->
    <xsd:complexType name="NumericUnaryOpType">
        <xsd:annotation>
            <xsd:documentation>
                Represents a unary arithmetic operation (negate)
                with one operand that is itself a numeric expression.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="NumericExpressionElements" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- A numeric comparison: both operands are numeric expressions -->
    <xsd:complexType name="NumericComparisonType">
        <xsd:annotation>
            <xsd:documentation>
                A numeric comparison consists of a left and right operand.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="left" type="NumericExpressionType"/>
            <xsd:element name="right" type="NumericExpressionType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BooleanAndType">
        <xsd:annotation>
            <xsd:documentation>
                The and element represents logical conjunction. It must contain at least two boolean expressions.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="BooleanExpressionElements" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="BooleanOrType">
        <xsd:annotation>
            <xsd:documentation>
                The or element represents logical disjunction. It must contain at least one boolean expression.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="BooleanExpressionElements" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="BooleanNotType">
        <xsd:annotation>
            <xsd:documentation>
                The not element represents logical negation and must contain exactly one boolean expression.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:group ref="BooleanExpressionElements" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="CondBoxType">
        <xsd:sequence>
            <xsd:element name="formula" type="BooleanExpressionType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        Defines the boolean formula representing the precondition.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Unique identifier for the preBox.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Description for the preBox.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- ===== IndirectEffects ===== -->
    <xsd:complexType name="IndirectEffectsType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for indirect effects.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="indirectEffect" type="IndirectEffectType"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single indirect effect.
                        Attributes:
                        - name
                        - exported
                        - description
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="IndirectEffectType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Derived effect with formula representation.
                Attributes:
                - name
                - exported
                - description
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="formula" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                Element: formula
                Defines the boolean formula representing the indirect effect.
            ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Unique identifier for the indirect effect.
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="exported" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="description" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Description providing details about the indirect effect.
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!-- ===== Qualities ===== -->
    <xsd:complexType name="QualitiesType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for quality attributes with numeric values.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="quality" type="QualityType"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single quality attribute.
                        Attributes:
                        - name
                        - description
                        - exported
                        - root
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QualityType">
        <xsd:annotation>
            <xsd:documentation>
                Numeric quality attribute with a structured value representation.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:group ref="NumericExpressionElements" minOccurs="1" maxOccurs="1"/>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
        <xsd:attribute name="root" type="xsd:boolean" use="optional" default="false"/>
    </xsd:complexType>

    <!-- ===== Goals ===== -->
    <xsd:complexType name="GoalsType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for actor goals with refinement structures.
                Goals represent the objectives the actor aims to achieve, which can be decomposed into sub-goals or tasks.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="goal" type="GoalType"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single goal.
                        Attributes:
                        - name
                        - description
                        - root
                        - episodeLength
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GoalType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Attributes:
                - name
                - root
                - description
                - episodeLength
                - terminal
                Goals can include at most one pre and one npr element.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="pre" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: pre
                        Specifies a precedence using a boolean formula.
                        Used to define logical conditions that must be met for the goal to be achievable.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="npr" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: npr
                        Specifies a negative precedence using a boolean formula.
                        Used to define logical conditions that must not be met for the goal to be achievable.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="refinement" type="RefinementType"
                         minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: refinement
                        Defines how the goal is decomposed into sub-goals or tasks.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="root" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
        <xsd:attribute name="terminal" type="xsd:boolean" use="optional" default="false"/>
        <xsd:attribute name="episodeLength" type="xsd:nonNegativeInteger" use="optional" default="1"/>
    </xsd:complexType>

    <xsd:complexType name="RefinementType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Goal decomposition structure (AND/OR) with child references.
                Used to break down a goal into smaller, more manageable sub-goals or tasks.
                Attributes:
                - type: Specifies the type of refinement, typically "AND" for all children being necessary or "OR" for any one child being sufficient.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="childGoal" type="ChildRefType">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
                            Element: childGoal
                            References a sub-goal.
                        ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="childTask" type="ChildRefType">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
                            Element: childTask
                            References a sub-task.
                        ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[
                    Attribute: type
                    Defines the nature of the refinement, such as "AND" for all children being necessary or "OR" for any one child being sufficient.
                ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="ChildRefType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Reference to a child goal or task within a refinement structure.
                Attributes:
                - ref: Identifier for the referenced child element (goal or task).
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="ref" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- ===== Tasks ===== -->
    <xsd:complexType name="TasksType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Container for tasks that the actor can perform.
                Tasks represent the actions or operations the actor can execute to achieve its goals.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="task" type="TaskType"
                         minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single task.
                        Attributes:
                        - name
                        - description
                        Each task can have pre or npr and an effectGroup detailing the outcomes of the task.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TaskType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Represents an executable task with associated precedence and effects.
                Attributes:
                - name: Unique identifier for the task.
                - description: Optional explanation of the task's purpose.
                Tasks can include at most one pre and one npr element, each containing a formula element.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="pre" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: pre
                        Specifies a precedence using a boolean formula.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="npr" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: npr
                        Specifies a negative precedence using a boolean formula.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>

            <xsd:element name="effectGroup" type="EffectGroupType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: effectGroup
                        Defines the group of effects resulting from the execution of the task.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="EffectGroupType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Group of effects resulting from the execution of a task.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="effect" type="EffectType" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Defines a single effect within the effect group.
                        Each effect specifies the outcome of the task, including whether it satisfies the task's objectives and the probability of occurrence.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Individual effect ===== -->
    <xsd:complexType name="EffectType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
                Represents an effect of a task with associated probabilities and conditions.
                Attributes:
                - name
                - satisfying
                - probability
                - description
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="turnsTrue" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="turnsFalse" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>

            <xsd:element name="pre" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: pre
                        Specifies a precedence using a boolean formula.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="npr" type="BooleanExpressionType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation><![CDATA[
                        Element: npr
                        Specifies a negative precedence using a boolean formula.
                    ]]></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>

        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="satisfying" type="xsd:boolean" use="optional" default="true"/>
        <xsd:attribute name="probability" type="xsd:float" use="required"/>
        <xsd:attribute name="description" type="xsd:string" use="optional"/>
    </xsd:complexType>

</xsd:schema>